<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Learn
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="text-align: center">

  <ion-card style="padding: 40px">
    <ion-card-content>
      Click a cocktail to get some details! Play game and try to guess which cocktail appears in the image!
      <br><br>
      This app has been developed by Joel de Palau in May 2021, using AngularJS with
      Ionic framework.
    </ion-card-content>
  </ion-card>

</ion-content>
