<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Play!
    </ion-title>
    <ion-title slot="end">
      Points: {{ points }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-buttons style="position:absolute; top:60px; color:white">
    <ion-button (click)="reset()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-img [src]="correctCocktail.strDrinkThumb"></ion-img>
  <ion-card-content>
    <ion-list id="randomCocktails">
      <ion-item *ngFor="let r of randomCocktails; let i = index">
        <label>{{ i + 1 }}&ensp;</label>
        <ion-button fill="clear" expand="full" (click)="getAnswer(r)">{{ r.strDrink }}</ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>

</ion-content>
