<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Learn
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div style="padding: 40px">
        <ion-img style="margin-bottom: 60px" src="../../assets/about.png"></ion-img>
        <ion-card-content style="text-align: center">
            Click a cocktail to get some details, save them to later by loggin in! Play game and try to guess which cocktail appears in the image!
            <br/><br/>This app has been developed by <strong>Joel de Palau</strong> in May 2021, using AngularJS with Ionic framework.
        </ion-card-content>
    </div>

</ion-content>